{% extends 'layout.html' %}
{% block body%}
<p>Uma égua é uma égua adulta ou outro equino.[1] Na maioria dos casos, uma égua é uma égua com mais de três anos de idade e uma potranca é uma égua de três anos ou menos. Nas corridas de cavalos puro-sangue, uma égua é definida como uma égua com mais de quatro anos de idade. A palavra também pode ser usada para outras fêmeas equinas, particularmente mulas e zebras, mas uma jumenta é geralmente chamada de "jenny". Um broodmare é uma égua usada para reprodução. A progenitora de um cavalo é conhecida como sua mãe.</p>
{% endblock %}