{% extends 'layout.html' %}
{% block body%}

<div class="row">
    <div class="column">
        <a href="https://en.wikipedia.org/wiki/Elephant"><img src="static/elef.jpg"  height="500" width="500"></a>
    </div>
    <div class="column">
        <a href="https://en.wikipedia.org/wiki/Engineering"><img src="static/eng.png"  height="500" width="500"></a>
    </div>
    <div class="column">
        <a href="https://en.wikipedia.org/wiki/Horse"><img src="static/cavalo.jpg"  height="500" width="500"></a>
    </div>
  </div> 
{% endblock %}